EMAIL_USER=your-support-email@gmail.com
EMAIL_PASS=your-gmail-app-password
GEMINI_API_KEY=your-google-gemini-api-key
PINECONE_API_KEY=your-pinecone-api-key
PINECONE_INDEX_NAME=your-pinecone-index-name
SIMILARITY_THRESHOLD=0.40
DATABASE_URL=postgresql://username:password@hostname/database?sslmode=require
SERVER_URL=http://localhost:8000
